@model IEnumerable<FPT_LIBRARY.Models.EF.Category>
@if (Model != null && Model.Any())
{
    <ul class="navbar_menu">
        @foreach (var item in Model)
        {

                if (item.Alias.Equals("home"))
                {
                    item.Alias = " ";
                }
            if (item.IsActive == true)
            {
                <li><a href="/@item.Alias">@item.Title</a></li>
            }
        }
    </ul>
}
